#btn-click{
    border-radius: 0.5rem;
    margin: 1rem;
}
#txt-area{
    width: 80%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
}
#output{
    border: 1px solid black;
    width: 80%;
    height: 10vh;
    margin: 1rem;
    padding: 1rem;
}